@import "./colors";

.button {
  padding: 5px 10px;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto-Regular";
  font-size: 1rem;
  color: $primary;
  background-color: $accentThird;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: brightness(1.2);
  }

  &:hover {
    svg {
      fill: $accentThird;
    }
  }

  &:active {
    filter: brightness(0.8);
    svg {
      fill: $primary;
    }
  }

  &:disabled {
    cursor: auto;
    filter: none;
    opacity: 0.4;
  }

  svg {
    fill: $third;
  }

  &--transparent {
    height: 30px;
    font-size: 0.8rem;
    color: $third;
    text-transform: capitalize;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
