$primary: #282d30;
$secondary: #666666;
$third: #999999;
$accentPrimary: #c4092f;
$accentPrimaryLight: #d74345;
$accentSecondary: #88c504;
$accentThird: #cbcbcc;
$auxiliaryPrimary: #ffffff;
$auxiliarySecondary: #f5f6f6;
$auxiliaryThird: #dcdcdc;
