$primary: #282d30;
$secondary: #666666;
$third: #999999;
$accentPrimary: #f0355b;
$accentSecondary: #88c504;
$accentThird: #cbcbcc;
$auxiliaryPrimary: #ffffff;
$auxiliarySecondary: #f5f6f6;
$auxiliaryThird: #dcdcdc;
$blue: #4793e9;
$violet: #b618ae;
$yellow: #f3e245;
